@using CapaEntidades;

@{
    entEmpleado e = (entEmpleado)Session["Empleado"];
}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Pagina Principal</title>

    <!-- Fontfaces CSS-->
    <link href="~/Bootstrap/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Bootstrap/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Bootstrap/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Bootstrap/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Bootstrap/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Bootstrap/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Bootstrap/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Bootstrap/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Bootstrap/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Bootstrap/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Bootstrap/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Bootstrap/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Bootstrap/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <img src="~/Bootstrap/images/icon/PortadaMenu.jpeg" alt="Logo.jpg" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a href="@Url.Action("MenuPrincipal", "Intranet")">
                                    <i class="fas fa-tachometer-alt"></i>Menú
                                    <span class="bot-line"></span>
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a>Producto</a>

                                    </li>

                                </ul>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->
        <!-- PAGE CONTENT-->
        @RenderBody()
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">


                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->



        </div>

    </div>
    <!-- Jquery JS-->
    <script src="~/Bootstrap/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Bootstrap/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Bootstrap/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Bootstrap/vendor/slick/slick.min.js">
    </script>
    <script src="~/Bootstrap/vendor/wow/wow.min.js"></script>
    <script src="~/Bootstrap/vendor/animsition/animsition.min.js"></script>
    <script src="~/Bootstrap/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Bootstrap/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Bootstrap/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Bootstrap/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Bootstrap/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Bootstrap/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Bootstrap/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/Bootstrap/js/main.js"></script>

</body>

</html>