@model CapaEntidades.entProducto

@{
    ViewBag.Title = "Insertar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Insertar Producto</h2>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">Formulario</div>
        <div class="card-body card-block">
            <form action="Insertar" method="post" class="">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" id="txtNombre" name="txtNombre" placeholder="Nombre Producto" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" id="txtMarca" name="txtMarca" placeholder="Marca" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                        </div>
                        <input type="" id="txtPrecio" name="txtPrecio" placeholder="Precio" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-mobile-phone"></i>
                        </div>
                        <input type="number" step="any" id="txtCantidad" name="txtCantidad" placeholder="Cantidad" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-mail-forward"></i>
                        </div>
                        <input type="date" id="txtVencimiento" name="txtVencimiento" placeholder="Vencimiento" class="form-control" required>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Aceptar
                    </button>
                    <button type="reset">
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Lista", "Producto")"><i class="fa fa-ban"></i> Cancelar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

