@model CapaEntidades.entCliente

@{
    ViewBag.Title = "Insertar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Insertar Cliente</h2>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">Formulario</div>
        <div class="card-body card-block">
            <form action="Insertar" method="post" class="">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" id="txtNombres" name="txtNombres" placeholder="Nombres" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" id="txtApellidos" name="txtApellidos" placeholder="Apellidos" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                        </div>
                        <input type="number" id="txtCelular" name="txtCelular" placeholder="Celular" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                        </div>
                        <input type="number" id="txtDni" name="txtDni" placeholder="DNI" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-mobile-phone"></i>
                        </div>
                        <input type="text" id="txtTelefono" name="txtTelefono" placeholder="Teléfono" class="form-control" >
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-mail-forward"></i>
                        </div>
                        <input type="email" id="txtEmail" name="txtEmail" placeholder="Correo Electrónico" class="form-control" required>
                    </div>
                </div>



                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Aceptar
                    </button>
                    <button type="reset">
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Lista", "Cliente")"><i class="fa fa-ban"></i> Cancelar</a>
                    </button>
            </form>
        </div>
        </div>
    </div>
</div>
